.DS_Store
*.pyc
pathtoassets.js
node_modules/*
dist/*
assets/bundles/*
assets/prod-assets/*
injectextension/enkato-embed.js
webpack-stats.json
db.sqlite3
npm-debug.log
injectextension/*
!injectextension/thirdParty/
!injectextension/manifest.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml