.DS_Store
*.pyc
pathtoassets.js
node_modules/*
assets/bundles/*
# webpack-stats.json
db.sqlite3
npm-debug.log
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
