body {
        font-family: 'Roboto', sans-serif !important;
        border-radius: 30%;
        width: 500px;
        height: 381px;
      }
      #header{
        height: 40px;
        background: #0E133E;
        text-align: center;
        border-radius: 7px 7px 0px 0px;
        cursor: pointer;
      }
      #content-wrapper{
        background-color: #EEF1F7;
      }
      #right-side-wrapper{
        float: left;
        width: 260px;
        height: 340px;
        color: #0E133E;
        text-align: center;
        background-color: rgb(220, 230, 225);
      }
      #main-video-wrapper{
        padding-top: 52px;
      }
      #quiz-wrapper{
        height: 88px;
        background-color: #EEF1F7;
      }
      #left-side-wrapper{
        overflow: hidden;
        background-color: #EEF1F7;
        width:240px;
        height: 340px;
      }
      #topic-list-wrapper{
        height:112px;
        text-align: center;
      }
      #series-wrapper{
        height: 157px;
      }
      #more-enkato-wrapper{
        height: 72px;
        border-radius: 0px 0px 7px 0px;
      }
      #no-video{
        font-size: 20px;
        text-align: center;
      }
      .thumbnail-wrapper{
        padding: 3px;
        height: 199px;
      }
      .topic-header{
        font-size: 16px;
        padding: 3px 3px 0px;
      }
      .topic-node:hover{
        background-color: rgb(220, 230, 225);
      }
      .topic-node{
        background-color: white;
        font-weight: 500;
        font-size: 14px;
        text-align: left;
        text-overflow: ellipsis;
        width: 98%;
        overflow: hidden;
        padding: 2px;
        border-bottom: 1px solid #eef1f7;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.298039) 2px 2px 2px;
      }
      .extra-topics{
        font-size: 15px;
        text-align: center;
        font-weight: 500;
        width: 100%;
        padding:1px;
        cursor: pointer;
      }
      .no-topics{
        font-size: 15px;
        text-align: center;
        margin: 25px;
      }
      .slide-wrapper{
        overflow: auto;
        height: 135px;
      }
      .mySlides{
        cursor: pointer;
        height: 100px;
        width: 219px;
        margin: 2px;
        box-shadow: rgba(0, 0, 0, 0.298039) 2px 2px 2px;
      }
      .slide-name{
        width: 213px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 12px;
        margin-left: 2px;
        top: 10px;
        left: 0;
        cursor: pointer;
      }
      .quiz-button{
        margin: 4px 51px;
        cursor: pointer;
      }
