$invalid-color: #ffe4e4;

.singleQuizForm {
    min-height: 50%;
    width: 100%;
}

.circle-icon {
    color:#DCDCDC;
    font-size: 20px;

    &:hover {
        cursor: pointer;
    }

    &.correct {
        color: black;
    }
}

.choice-input{
    font-size: 20px;
    border: none;
    margin-left: 7px;
    width: 90%;
    font-color: #DCDCDC;

    &:focus {
        outline: none;
        border-bottom: 2px solid #DCDCDC;
    }

    &.invalid {
        background-color: $invalid-color;
    }
}

.choice-row {
    width:85%;
    height:30px;
    margin-left:10%;

    &.invalid {
        background-color: $invalid-color;
    }
}

.question-input{
    border-bottom: 2px solid black;
    font-size:20px;
    border-right:none;
    border-left:none;
    border-top:none;
    margin-left: 10px;
    font-color:#DCDCDC;
    width: 90%;

    &:focus {
        outline: none;
    }

    &.invalid {
        background-color: $invalid-color;
    }
}

.arrow-icon{

}

.timesIcon{
    cursor:pointer;
}

.question-row{ 
    width:100%;
    height:30px;
    padding-left:70px;
    margin-bottom:50px;
    padding-top:50px;
}


.add-option-button{
    font-size:20px;
    border:none;
    margin-left: 7px;
    width:90%;
    color:#BBBBBB;
}



.add-option-button:hover{
    cursor:pointer;
}
