@import 'colors.scss';

body {
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 0.2px;
    font-size: 14px;
    background-color: $structabl-bg-blue;
}

.form-control {
    border-radius: 3px;
    border: 1px solid $structabl-bg-blue;
}

.bold {
    font-weight: bold;
}

form label {
    color: $structabl-blue;
}

.btn {
    border: 0px;
}

.btn.structabl-red.btn-default {
    border-radius: 4px;

    background-color: $kato-green;
    color: white;
    border: 1px solid $kato-green;

    &:hover {
        border: 1px solid $structabl-red;
        color: $structabl-red;
        background-color: white;
    }

    &:focus {
        outline: 0 !important;
    }

    &:active {
        outline: 0 !important;
    }
}

.btn.greenBtn.btn-default {
    border-radius: 4px;
    text-transform: uppercase;

    background-color: $kato-green;
    color: white;
    border: 1px solid $kato-green;

    &:hover {
        border: 1px solid $kato-green;
        color: $kato-green;
        background-color: white;
    }

    &:focus {
        outline: 0 !important;
    }

    &:active {
        outline: 0 !important;
    }
}

.btn.structabl-blue.btn-default {
    border-radius: 4px;

    background-color: $structabl-blue;
    color: white;
    border: 1px solid $structabl-blue;

    &:hover {
        border: 1px solid $structabl-blue;
        color: $structabl-blue;
        background-color: white;
    }

    &:focus {
        outline: 0 !important;
    }

    &:active {
        outline: 0 !important;
    }
}

.modal-backdrop.in {
    opacity: 0.2;
}

.modal-content {
    border: none;
    box-shadow: none;
}

.modal-header {
    background-color: $structabl-blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .close {
        font-weight: normal;
        color: white;
        opacity: 1;
        margin-top: 2px;
    }
}

.modal-title {
    color: white;
}

.modal-body {
    padding: 15px 30px;
}

.modal-footer {
    border-top: none;
    padding: 15px 30px;
}

