@import 'colors.scss';

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: $structabl-bg-blue;
}

.form-control {
    border-radius: 3px;
    border: 1px solid $structabl-bg-blue;
}

form label {
    color: $structabl-blue;
}

.btn {
    border-radius: 4px;
    font-size: 14px;

    &:hover {
        border: 1px solid $structabl-red;
        color: $structabl-red;
        background-color: white;
    }

    &:focus {
        outline: 0 !important;
    }

    &:active {
        outline: 0 !important;
    }
}

.btn-default {
    background-color: $structabl-red;
    color: white;
    text-transform: uppercase;
}

.modal-backdrop.in {
    opacity: 0.2;
}

