@import 'colors.scss';
@import 'mixins.scss';

.createSeriesModal {
    .createBtn {
        margin-top: 8px;
    }
}

.modal-content {
    border: none;
    box-shadow: none;
}

.modal-header {
    background-color: $structabl-blue;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    .close {
        font-weight: normal;
        color: white;
        opacity: 1;
        margin-top: 2px;
    }
}

.modal-title {
    color: white;
}

.modal-body {
    padding: 15px 30px;
}

.modal-footer {
    border-top: none;
    padding: 15px 30px;
}

