@import '../globals/colors.scss';
@import '../globals/mixins.scss';

.footer {
    background-color: white;
    padding: 70px;

    .name {
        display: inline-block;
        vertical-align: top;
        width: 30%;

        .logo {
            width: 150px;
        }
    }

    .footerPart {
        display: inline-block;
        vertical-align: top;
        width: 17%;

        .title {
        }

        .itemsList {
            margin-top: 10px;

            .item {
                color: grey;
            }
        }
    }
}