@import 'colors.scss';
@import 'mixins.scss';

.navbar {
    border-radius: 0px;

    .nav {
        font-weight: 800;
        text-transform: uppercase;
    }
}

.navbar-brand {
    // text-transform: uppercase;
    font-weight: 800;
    font-family: 'Fjalla One', sans-serif;

    @include respond-to(xsmall) {
        margin-left: 25px;
    }

    .logo {
        color: $structabl-blue;
    }
}