@import 'colors.scss';
@import 'mixins.scss';

.navbar.navbar-default {
    border-radius: 0px;
    background-color: $structabl-blue;
    border: none;

    .nav {
        font-weight: 400;
    }

    .navbar-nav {
        li {
            a {
                color: white;
            }
        }
    }
}

.notification {
    color: black
}

.navbar-brand {
    @include respond-to(xsmall) {
        margin-left: 25px;
    }

    .logo {
        color: $structabl-blue;
    }
}

.headerLogo {
    width: 100px;
}
