.topicButtonColumn{
    height:100%;
    background-color:#FFFFFF;
}

.video{
    height:90%;
}

.videoNavigator{
    background-color:green;
    height:10%;
}

.topicNode{
    height:9vh;
    width:100%;
    padding:2.5vh;
    background-color:#FBFBFB;
    border-color: #F7F7F7;
    border-width:1px;
    border-style:solid;
    margin:2px;
    font-size:2.5vh;
}

.topicNode:hover{
    background-color:#F3F3F3;
    cursor:pointer;
}




