@import './mixins.scss';

body{

}


.topicButtonColumn{
    height:100%;
    background-color:#FFFFFF;
}

.video{
    height:90%;
}

.videoNavigator{
    background-color:green;
    height:10%;
}

.topicList{
    height:100%;
    overflow-y: scroll;
}

.topicNode{
    width:100%;
    background-color:#FBFBFB;
    border-color: #F7F7F7;
    border-width:1px;
    border-style:solid;
    overflow: hidden;
    margin:2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include respond-to(xsmall) {
        font-size:7vh;
        padding:1vh;
        height:15vh;
    }
    @include respond-to(small) {
        font-size:2.5vh;
        padding:2.5vh;
        height:9vh;
    }
    @include respond-to(medium) {
        font-size:2.5vh;
        padding:2.5vh;
        height:9vh;
    }
    @include respond-to(large) {
        font-size:2.5vh;
        padding:2.5vh;
        height:9vh;
    }
}

.topicNode:hover{
    background-color:#F3F3F3;
    cursor:pointer;
}

#selectedTopicNode{
    font-weight: 800;
}


