@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.createSeriesArea {
    margin: 0px;

    .title {
        padding: 15px;
        font-weight: bold;
        color: $structabl-blue;
        font-size: 18px;
    }

    .mainArea {
        border-top: 15px solid $structabl-blue;
        background-color: white;

        margin: 0px !important;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        padding: 60px 20px;
    }
}