@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.profile {
    background-color: $structabl-bg-blue;
    padding: 25px 45px;

    .header {
        background-color: white;
        margin-bottom: 10px;

        .imageArea {
            display: inline-block;
            vertical-align: top;
            padding: 20px;

            .image {
                height: 100px;
                border-radius: 60px;
            }
        }

        .userInfo {
            display: inline-block;
            padding: 20px;
            padding-left: 0px;

            @include respond-to(small) {
                padding-left: 20px;
            }

            @include respond-to(xsmall) {
                padding-left: 20px;
            }

            .name {
                font-size: 20px;
                font-weight: bold;
                margin-top: 10px;
                color: $structabl-blue;
            }

            .bio {
                margin-top: 5px;
                width: 100%;

                @include respond-to(medium) {
                    width: 70%;
                }

                @include respond-to(large) {
                    width: 60%;
                }
            }
        }

        .toggleMenu {
            border-bottom: 5px solid $structabl-blue;
            color: $structabl-blue;

            .series {
                display: inline-block;
                padding: 10px 15px;

                &.active {
                    border-bottom: 6px solid $structabl-red;
                    margin-bottom: -5px;
                    color: $structabl-red;
                    font-weight: bold;
                }

                &:hover {
                    background-color: $grey-hover;
                    cursor: pointer;
                }
            }

            .allvideos {
                display: inline-block;
                padding: 10px 15px;

                &.active {
                    border-bottom: 6px solid $structabl-red;
                    margin-bottom: -5px;
                    color: $structabl-red;
                    font-weight: bold;
                }

                &:hover {
                    background-color: $grey-hover;
                    cursor: pointer;
                }
            }
        }
    }
}
