
@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.profileSeriesPanelCol {
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;

    .profileSeriesPanel {
        background-color: white;

        transition: 0.5s background-color;

        &:hover {
            cursor: pointer;
            background-color: #ddd;
        }

        .thumbnailArea {
            .image {
                width: 50%;
                display: inline-block;
            }

            &.one {
                .image {
                    width: 100%;
                    display: inline-block;
                }
            }
        }

        .seriesInfo {
            padding: 20px;
            height: 150px;

            .name {
                font-weight: bold;
                color: $structabl-blue;
            }
        }
    }
}
