
@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.subscribedSeriesPanelRow {
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;

    .subscribedSeriesPanel {
        background-color: white;

        transition: 0.5s background-color;

        .thumbnailArea {
            .image {
                width: 50%;
                display: inline-block;
            }

            &.one {
                .image {
                    width: 100%;
                    display: inline-block;
                }
            }

            &:hover {
            cursor: pointer;
            background-color: #ddd;
        }
        }

        .seriesInfo {
            padding: 20px;
            height: 150px;
            overflow: hidden;

            .name {
                font-size:20px;
                font-weight: bold;
                color: $structabl-blue;
                padding-bottom:10px;
            }
        }
    }
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
