@import '../../globals/mixins.scss';

.classInfo {
    font-size: 16px; 

    @include respond-to(xsmall) {
        margin-top: 20px;
    }

    .name {
        font-weight: 800;
        font-size: 24px;
    }

    .creators {
        margin-bottom: 10px;
    }

    .creatorName {
        font-weight: 800;
        color: black;
    }

    .description {
        @include respond-to(xsmall) {
            width: 100%;
        } 
        @include respond-to(small) {
            width: 100%;
        }
        @include respond-to(medium) {
            width: 75%;
        }
        @include respond-to(large) {
            width: 60%;
        }
    }
}