@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.classMetaData {
    @include respond-to(xsmall) {
        margin-top: 20px;
    }

    .infoBar {
        .stat {
            display: inline-block;
            width: 32%;
            text-align: center;

            .text {
                color: $yn-green;
                margin-top: 10px;
                font-weight: 700;
            }

            .icon {
                font-size: 34px;
            }
        }
    }
}