@import '../../globals/mixins.scss';

.fourImagePanel {

    @include respond-to(xsmall) {
        margin: -2%;
    }

    .imageContainer {
        display: inline;
        
        .image {
            width: 45%;
            margin: 2%;
        }
    }
}