@import '../../globals/colors.scss';
@import '../../globals/VideoPlayer/ControlBar.scss';

.unavailable {
    margin:10%;
    padding:50px;
    width: 80%;
    height: 50%;
    background-color: white;
    box-shadow: 2px 2px 2px $bg-grey;

    color: $structabl-blue;
    font-size: 40px;
    text-align: center;
    font-weight:800;
}   

.seriesViewer {
    margin-left: 20%;
}

.questionArea {
    padding: 15px 50px;
    margin-bottom: 125px;
}