@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.seriesViewerSideBar {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 80%;

    background-color: white;
    border-top: 10px solid $structabl-blue;
}
