@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.seriesViewerSideBar {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 80%;

    background-color: white;
    box-shadow: 0px -1px 5px rgba(1, 17, 62, 0.1);
}
