@import '../../globals/colors.scss';
@import '../../globals/VideoPlayer/ControlBar.scss';

.seriesViewer {
    margin-top: -20px;
}

.questionArea {
    padding: 15px 50px;
    margin-bottom: 100px;
}