@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.seriesViewerHeader {
    padding: 20px 20px;
    //height: 100px;

    .seriesCreator {
        font-weight: 500;
        padding-top: 5px;

        a {
            font-weight: 600;
            color: $enkato-green;
        }
    }

    .seriesName {
        font-weight: 500;
        color: $structabl-blue;
        font-size: 18px;
    }
}
