.indi-quiz-form{
    height:100%;
    width:100%;
}

.circle-icon{
    color:#DCDCDC;
    font-size: 20px;
}

.choice-input{
    font-size:20px;
    border:none;
    margin-left: 7px;
    width:90%;
    font-color:#DCDCDC;
}
.choice-input:focus{
    outline: none;
    border-bottom: 2px solid #DCDCDC;
}
.choice-row{
    width:75%;
    height:30px;
    margin-left:20%;
}

.question-input{
    border-bottom: 2px solid black;
    font-size:20px;
    border-right:none;
    border-left:none;
    border-top:none;
    margin-left: 10px;
    width:70%;
    font-color:#DCDCDC;
}

.question-input:focus{
    outline: none;
}

.arrow-icon{

}

.timesIcon{
    cursor:pointer;
}

.question-row{ 
    width:100%;
    height:30px;
    padding-left:5%;
    margin-bottom:20px;
    padding-top:50px;
}


.add-option-button{
    font-size:20px;
    border:none;
    margin-left: 7px;
    width:90%;
    color:#BBBBBB;
}



.add-option-button:hover{
    cursor:pointer;
}
