.btn {
    border-radius: $base-border-radius;
    border: 0px;
    font-weight: $bold-weight;

    &:focus, &:active {
        outline: 0 !important;
    }
}

.btn.btn-primary {
    color: $blank;
    background-color: $primary-accent;

    &:hover {
        border: 1px solid $primary-accent;
        color: $primary-accent;
        background-color: $blank;
    }

    &:focus {
        outline: 0 !important;
    }
}

.createBtn {
    margin-top: 8px;
}

.takeQuizButton{
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:$structabl-blue;
    padding: 10px 20px;
    border-bottom: 1px solid $structabl-bg-blue;

    &#selectedTopicNode {
        background-color: $enkato-green;
        color: white;

        .text {
            color: white;
        }
    }

    &:hover {
        background-color:$grey-topic-button-section-bg-hover;
        cursor:pointer;
    }

    .textWrapper {
        display: inline-block;
        width: 90%;
        padding-left:5px;
    }

    .text {
        display: inline-block;
        vertical-align: top;
        float: left;
        font-weight: bold;
    }
}

.addTopicButton {
    background-color: $enkato-green;
    text-align: center;
    color: white;
    font-size: 18px;
    height: 50px;
    padding: 12px;

    // @include respond-to(medium) {
    //     font-size: 18px;
    // }

    // @include respond-to(small) {
    //     font-size: 14px;
    // }

    &:hover {
        cursor: pointer;
        background-color: #0f4e3e;
    }
 }

 .seriesViewerNextButton {
    height: 100px;
    padding: 20px 15px;

    border-top: 1px solid $structabl-bg-blue;

    .upNext {
        font-weight: bold;
        color: grey;
        font-size: 13px;
    }

    .name {
        font-weight: bold;
        color: $structabl-blue;
    }
}

.btn.addQuestionBtn {
      background: $primary-accent;
      color: white;
      text-align: left;
      font-size: 15px;
      letter-spacing: 0.3px;
      font-weight: 500;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      height: 35px;
      margin-top: -1px;
      width: 150px;
}

.filterQuery {
    .btn {
      padding: 8px 40px;
      background-color: #f1f1f1;
      border: 1px solid #f1f1f1;
    }
}
