.modal-backdrop.in {
    opacity: 0.5;
}

.modal-content {
    border: none;
    box-shadow: none;
}

.modal-header {
    background-color: $base-dark;
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    padding: 15px 30px;

    .close {
        font-weight: $base-weight;
        color: white;
        opacity: 1;
        margin-top: 2px;
    }
}

.modal-title {
    color: $blank;
}

.modal-body {
    padding: 20px 30px 10px 30px;
}

.modal-footer {
    border-top: none;
    padding: 15px 30px 15px 0;

    .btn {
        margin-right: 0;
    }
}

.modal-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.annotating {
    .modal-dialog {
        width: 90%;
        transition: width 1s;
    }

    .modal-body {
        background-color: $base-bg;
        padding: 0;
        max-height: 600px;
        height: 75%;
    }
}

/* QUIZ MODAL */

.greyBackground {
    width:100%;
    height:100%;
    z-index:1;
    background-color: rgba(1,17,62,.75); //this is structableblue
    position:absolute;
    top:0;
    left:0;
    padding-top:10%;
    text-align: center;

    .questionText {
        color: white;
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        margin-bottom:10px;
    }
    .takeQuizButton {
        width:150px;
        background-color:$enkato-bright-green;
        border:none;
        color:white;
        font-size: 15px;
        margin-top: 10px;
    }
    .noThanks {
        color: white;
        text-align: center;
        margin-top: 10px;

        &:hover {
            cursor: pointer;
            font-weight: bold;
        }

        &:active {
            color: $structabl-red;
        }
    }

    .nextVideoBtn {
        position: absolute;
        bottom: 25px;
        right: 25px;

        .text {
            color: white;
            font-weight: 800;
            font-size: 16px;
            padding: 5px;
        }
    }

    .rewatch {
        text-align: center;
        color: white;
        margin-top: 20px;

        &:hover {
            cursor: pointer;
            .undoIcon {
                font-size: 33px;
            }
        }

        &:active {
            color: $kato-green;
        }

        .text {
            font-size: 16px;
            margin-top: 10px;
        }
    }
}

.quizModal{
    position:absolute;
    z-index:2;
    top:5%;
    left:5%;
    height:70%;
    width:90%;
}

// from UploadAnnotateModal
.toggleMode {
    padding-left: 20px;
}