$questionIndent:50px; 

.questionNode{
    padding-top:40px;
    padding-left:50px;
    height:100%;
    width:100%;
    position:relative;
    overflow-y: scroll;

    .choiceList{
        padding-left:$questionIndent;
        padding-top:1.5em;
    }

    &.noQuiz {
        font-weight: bold;
        color: $base-dark;
        font-size: 20px;
        text-align: center;
        padding-top: 50px;
    }

    // .quizSubmitAnswerButton{
    //     background-color:$kato-green;
    //     color:white;
    //     font-weight:800;
    //     margin-left:$questionIndent;
    // }

    // .quizSubmitButtonHR{
    //     margin-left:$questionIndent;
    //     width:calc(100% - #{$questionIndent}*2);
    // }
}
