@import '../colors.scss';

.questionNode{
    padding-top:40px;
    padding-left:50px;
    height:100%;
    width:100%;
    .title{
        font-size:20px;
        color:$structabl-blue;
        .arrowIcon{
            font-weight:thin;
            margin-right:25px;
        }
        .titleText{
            font-weight:700;
        }
    }
    .choiceList{
        padding-left:50px;
        padding-top:35px;
    }
}