@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.quizNavNode {
    padding: 5px 10px;
    border-bottom: 1px solid $structabl-bg-blue;
    border-right: 1px solid $structabl-bg-blue;
    text-align: center;
    cursor: pointer;

    &.review {
        border-left: 4px solid red;

        &.correct {
            border-left: 4px solid green;
        }
    }

    &:hover {
        background-color: $structabl-blue;
        color: white;
        cursor: pointer;
    }

    &.active {
        background-color: $structabl-blue;
        color: white;
    }
}
