@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

$questionIndent:50px; 

.quizNavFooter {
    padding: 15px;
    text-align: right;

    .cancelButton {
        margin-right: 10px;
    }

    .backButton {
        margin-right: 10px;
    }

    .nextButton:disabled{
        display: none;
    }
    .nextButton {
    }

    .quizSubmitAnswerButton{
        background-color:$kato-green;
        color:white;
        font-weight:800;
    }

    .showNumAnswered {
        color:$kato-green;
        font-size:12px;
        font-weight:700;

        float: left;
        margin-left: 35px;
    }
}
