@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

$background: white;

.questionList {
  overflow-y: scroll;

  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: white;
  height: 100%;

  .questionPreview {
    padding: 20px 25px;

    font-size: 16px;

    background-color: $background;

    border-left: 10px solid $background;

    &.selected {
      border-left-color: $enkato-green;
    }

    &:last-child {
      border-bottom: none;
    }

    .questionPreviewHeader {
      color: $enkato-green;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
    }

    .questionPreviewTitle {
      color: $structabl-blue;
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 10px;
    }

    .questionPreviewText {
      color: $structabl-blue;
    }
  }
}
