@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.questionDisplayResponse {

  padding: 10px 30px;

  .btn {
    float: right;
    display: none;
    margin-left: 10px;
  }

  &:hover {
    .btn {
      display: block;
    }
  }
}
