@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.questionFilterBar {

  border-top: 15px solid $structabl-blue;

  .filterOption {
    padding: 12px 40px;
    background-color: white;
    font-size: 18px;
    text-align: center;

    &.selected {
      font-weight: bold;
    }
  }

  .filterQuery {
    background-color: white;
  }
}
