@import '../../globals/colors.scss';
@import '../../globals/mixins.scss';

.questionFilterBar {
  background: white;
  border-top: 15px solid $structabl-blue;
  border-bottom: 1px solid $bg-grey;

  .form-group {
    margin-bottom: 0;
  }

  .filterOption {
    cursor: pointer;
    color: $structabl-blue;
    padding: 12px 20px;
    background-color: white;
    display: inline-block;
    text-align: center;

    &.selected {
      font-weight: bold;
    }

    &:hover {
      background: #efefef;
    }
  }

  .filterQuery {
    margin-top: 5px;
    margin-right: 5px;
    width: 50%;
    float: right;
    background-color: white;

    .filterInput {
      padding: 5px 20px;
    }

    .btn {
      padding: 8px 40px;
      background-color: #f1f1f1;
      border: 1px solid #f1f1f1;
    }

    .fa-search {
      font-size: 1.2em;
    }
  }
}
