.ynVideoPlayer{
    overflow: hidden;
    background-color:$white;
}

.topicButtonColumn{
    float: left;
    height:100%;
    width:25%;
}
.videoDiv{
    float: right;
    width: 75%;
    margin:0px;
    height:100%;
}

.ControlBar{
    position:relative;
}

.playbackPopover{
    right: 35 !important;//overrides this one field
}