.navbar.navbar-default {
    border-radius: 0;
    background-color: $base-dark;
    box-shadow: 0 1px 3px $main-bg-shadow;
    border: none;
    margin-bottom: 0;

    .container {
        width: 100%;
        padding-left: $page-padding;
        padding-right: $page-padding;
    }

    .nav {
        font-weight: $bold-weight;
    }

    .navbar-nav {
        .createSeriesModal {
            padding: 0 !important;
            .btn {
                margin-top: 9px;
            }
        }
        
        li {
            cursor: pointer;
            padding: 15px;
            color: $blank;

            &.active {
                color: $primary-accent;
            }

            &:hover {
                color: $primary-accent;
            }

            &:active {
                color: $primary-accent;
            }

            a {
                padding: 0px;
                color: $blank;

                &.active {
                    color: $primary-accent;
                }

                &:hover {
                    color: $primary-accent;
                }

                &:active {
                    color: $primary-accent;
                }
            }
        }
    }
}

.notification {
    color: $base-dark;
    max-width: 400;
    font-weight: $bold-weight;
}

.navbar-toggle {
    margin-right: $page-padding;
}

.headerLogo {
    width: 100px;
}
