.quizNavNode {
    padding: 5px 10px;
    border-bottom: 1px solid $base-bg;
    border-right: 1px solid $base-bg;
    text-align: center;

    &.review {
        border-left: 4px solid red;

        &.correct {
            border-left: 4px solid green;
        }
    }

    &:hover {
        background-color: $base-dark;
        color: white;
        cursor: pointer;
    }

    &.active {
        background-color: $base-dark;
        color: white;
    }
}

.quizNavFooter {
    padding: 15px;
    text-align: right;

    .cancelButton {
        margin-right: 10px;
    }

    .backButton {
        margin-right: 10px;
    }

    .showNumAnswered {
        float: left;
        margin-left: 35px;
    }
}

.quizNav {
    position: absolute;
}

.quizForm{
    background-color:white;
    width:100%;
    position:relative;
    
    .header{
        color:white;
        font-size:20px;
        font-weight:700;
        background-color: $base-dark;
        padding: 15px;

        width:100%;

        .closeForm {
            float: right;
            font-size: 30px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.singleQuizForm {
    padding-top: $content-padding;
}

.quizQuestionList{
    color:black;
}


// new good shit

.quiz {
    .quizNavigation {
        display: inline-block;
        text-align: center;

        .quizNavigationNode {
            border: 2px solid black;
            border-bottom: none;
            padding: 2px 3px;

            &.selected {
                font-weight: bold;
            }

            &.correct {
                color: $primary-accent;
            }

            &.incorrect {
                color: $alert-accent;
            }

            &.unanswered {
                background-color: $black-active;
            }

            &.answered {

            }
            
            &:last-child {
                border-bottom: 2px solid black;
            }
        }
    }

    .quizQuestion {
        display: inline-block;
        vertical-align: top;
        padding: 0 20px;

        .quizQuestionChoice {
            cursor: pointer;
            padding: 3px 5px;
            margin: 5px 0;
            border-radius: 3px;

            .fa {
                padding-right: 8px;
            }

            &.correct {
                background-color: $primary-accent;
            }

            &.incorrect {
                background-color: $alert-accent;
            }
        }
    }
}