
body {
    &.topiclist-active {
        margin-left: 25%;
    }
}


#qaWrapper {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .askQuestionBar {
        width: 100%;
    }

    .questionView {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .qaContent {
        height: 500px;
    }

    .questionList {
        height: 480px;
    }

    .questionDisplayList {
        height: 480px;
    }

    .contentArea {
        padding: 20px;
    }
}

#topicWrapper {
    position: fixed;
    left: -24%;
    top: 59px;
    width: 24%;
    z-index: 6;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);

    &.active {
        left: 0;

        .openCloseBtn {
            width: 35px;
        }
    }

    .openCloseBtn {
        width: 100px;
        text-align: center;
        padding: 8px;
        background-color: $base-dark;
        position: absolute;
        left: 100%;
        top: 0;
        color: white;
        font-weight: bold;
        opacity: 0.8;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

}