body {
    &.topiclist-active {
        margin-left: 25%;
    }
}

#masthead-positioner {
    z-index: 10;
}

#qaWrapper {
    .tab-content {
        padding-top: 0px;
    }

    .nav.nav-tabs {
        background-color: $base-dark;
    }

    .nav-tabs > li {
        a {
            color: white;
            border: none;
            border-radius: 0;
        }

        &.active {
            a {
                color: $base-dark;
            }
        }
    }

    .faqList {
        background-color: white;
    }

    &.questionArea {
        padding: 0px;
        margin-bottom: 0px;
    }

    .questionBox, .questionEnterResponse {
        &:hover {
            background-color: $blank;
            cursor: default;
        }
    }
    .col-md-12 {
        padding: 0;
    }

    .qaTitle {
        padding: 7px $content-padding 3px $content-padding;
        color: $blank;
        background-color: $base-dark;
        font-size: 16px;
        font-weight: $bold-weight;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .btn-plain {
        display: none;
    }

    .filterQuery {
        width: auto;
        .btn {
            padding: 6px 12px;
        }
    }

    .authorName{
        display: inline-block;
    }

    .qaPanel {
        .footer {
            font-size: $small-size;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    .titledContainer {
        padding: 0;
        margin-bottom: 40px;
    }

    .questionFilterBar {
        margin-top: 0;
    }
    
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .askQuestionBar {
        width: 100%;
    }

    .questionView {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .qaContent {
        max-height: 500px;
    }

    .questionList {
        max-height: 480px;
    }

    .questionDisplayList {
        height: 480px;
    }

    .contentArea {
        padding: 20px;

        .questionTitle {
            font-size: 16px;
        }
    }

    .questionPreview {
        font-size: $small-size;
        padding: 15px 18px;

        .smallTitle, .metaItem {
            font-size: 12px;
        }

        .questionPreviewTitle {
            padding-top: 0;
        }

        .questionPreviewFooter {
            padding-top: 5px;
        }
    }
}

#topicWrapper {
    position: fixed;
    left: -24%;
    top: 59px;
    width: 24%;
    z-index: 6;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    height: calc(100% - 130px);
    background-color: white;

    .youtubeTopicsWrapper {
        height: 100%;
        background-color: white;
    }

    &.active {
        left: 0;

        .openCloseBtn {
            width: 35px;
        }
    }

    .openCloseBtn {
        width: 100px;
        text-align: center;
        padding: 8px;
        background-color: $base-dark;
        position: absolute;
        left: 100%;
        top: 0;
        color: white;
        font-weight: $bold-weight;
        opacity: 0.8;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;

        &:hover {
            cursor: pointer;
            background-color: lighten($base-dark, 10%);
        }
    }

    .topicNodeAndQuestions {
        position: relative;

        .topicList {
            background-color: white;

            .topicNode {
                border-bottom: 1px solid #EEF1F7;
                padding: 10px 15px;
            }
        }

        .questionToggle {
            button {
                position: absolute;
                right: 5px;
                top: 6px;
                padding: 4px 15px;
            }
        }
    }
}