
.subscribedSeriesPanelRow {
    padding: 10px;
    padding-left: 0px;
    border-bottom: 1px solid #eee;

    &:first-of-type {
        padding-top: 0px;
    }

    &:last-of-type {
        padding-bottom: 0px;
        border-bottom: none;
    }

    .subscribedSeriesPanel {
        background-color: white;

        transition: 0.5s background-color;

        .nextVideoBtn {
            .text {
                font-weight: bold;
                color: $structabl-blue;
                margin-bottom: 10px;
            }
        }
 
        .thumbnailArea {
            .image {
                width: 50%;
                display: inline-block;
            }

            &.one {
                .image {
                    width: 100%;
                    display: inline-block;
                }
            }

            &:hover {
            cursor: pointer;
            background-color: #ddd;
        }
        }

        .seriesInfo {
            padding: 20px;
            height: 150px;
            overflow: hidden;

            .name {
                font-size:20px;
                font-weight: bold;
                color: $structabl-blue;
                padding-bottom:10px;
            }

            .metadata {
                margin-bottom: 10px;
                .numVideos {
                    color:$structabl-blue;
                    font-weight:700;
                    text-align:center;
                    display: inline-block;
                    margin-right: 10px;
                }

                .totalTime {
                    color:$structabl-blue;
                    font-weight:700;
                    text-align:center;
                    display: inline-block;
                }
            }
        }

        .progressCircleWrapper {
            margin-top:25px;
            width: 75px;
            height: 75px;
            position: relative;
            .percentage{
                position: absolute;
                left:23;
                bottom:23;

                color: $structabl-blue;
                font-weight:800;
                font-size:20px;
            }
        }

        .progressLabel {
            color:$structabl-blue;
            font-weight:700;
            margin-top:5px;
        }
    }
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
