@import '../../colors.scss';


.completedQuizPage{
    height:100%;
    width:100%;
    position:relative;
    padding-top:50px;
    padding-left:100px;
    .numCorrectReview{
        color:$structabl-blue;
        font-size:18px;
        font-weight:700;
    }
    .reviewQuizText{
        margin-top:40px;
        margin-bottom:25px;
    }
    .reviewQuizButton{
        background-color:$kato-green;
        color:white;
        font-weight:800;
    }
}