{% load staticfiles %}

<html>
    <head>
        <title>{% block title %}Enkato{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500,600" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <link rel="shortcut icon" href="{% static 'favico.ico' %}" type="image/x-icon" />

        {% block css %}{% endblock %}
    </head>

    <body>
        
        {% block content %}{% endblock %}

        {% block js %}{% endblock %}
    </body>
</html>
