@import '../colors.scss';


.controlBar{ 
    height:50px;
    width:100%;
    background-color:$structabl-blue;
    .playButton{
        margin-left:35px;
        margin-top:8px;
        color:white;
        font-size:26px;
    }
    .playButton:hover{
        cursor:pointer;
    } 
    .videoTime{
        color:white;
        margin-left:15px;
    }
    .playbackRate{
        color:white;
        margin:12px;
        margin-right:70px;
        font-weight:600;
        float: right;
    }
    .playbackRate:hover{
        cursor:pointer;
    }
}

.speedButton{
   text-align:center;
   color:white;
}

.playbackPopover{
    background-color:$structabl-blue;
    border-color:white;
    size:12px;
    height:120px;
    width:60px;
    position:absolute;
    bottom:40;
    right:50;
    top:initial;
    left:initial;
}