@import '../colors.scss';

.progressBar{
    width:100%; 
    height:10px;
    .watched{
        height:10px;
        width:0%;
        background-color:$yn-green;
        float:left;
    }
    .notWatched{
        height:10px;
        width:100%;
        background-color: $grey-progress-bar-not-watched;
        float:right;
    }
}

.progressBar:hover{
    cursor: pointer;
}
