@import '../colors.scss';

.progressBar{
    width: 100%; 
    height: 10px;

    position: relative; /* for topic dots */

    .watched {
        height: 10px;
        width: 0%;
        background-color: $enkato-green;
        float: left;
    }
    .notWatched {
        height: 10px;
        width: 100%;
        background-color: white;
        float: right;
    }

    &:hover {
        cursor: pointer;
    }
}
