@import '../colors.scss';

.greyBackground {
    width:100%;
    height:100%;
    z-index:1;
    background-color: rgba(1,17,62,.75); //this is structableblue
    position:absolute;
    top:0;
    left:0;
    padding-top:10%;
    text-align: center;

    .questionText {
        color: white;
        font-weight: 700;
        font-size: 25px;
        text-align: center;
        margin-bottom:10px;
    }
    .takeQuizButton {
        width:150px;
        background-color:$enkato-bright-green;
        border:none;
        color:white;
        font-size: 15px;
        margin-top: 10px;
    }
    .noThanks {
        color: white;
        text-align: center;
        margin-top: 10px;

        &:hover {
            cursor: pointer;
            font-weight: bold;
        }

        &:active {
            color: $structabl-red;
        }
    }

    .nextVideoBtn {
        position: absolute;
        bottom: 25px;
        right: 25px;

        .text {
            color: white;
            font-weight: 800;
            font-size: 16px;
            padding: 5px;
        }
    }

    .rewatch {
        text-align: center;
        color: white;
        margin-top: 20px;

        &:hover {
            cursor: pointer;
            .undoIcon {
                font-size: 33px;
            }
        }

        &:active {
            color: $kato-green;
        }

        .undoIcon {
            font-size: 30px;
        }

        .text {
            font-size: 16px;
            margin-top: 10px;
        }
    }
}

.quizModal{
    position:absolute;
    z-index:2;
    top:5%;
    left:5%;
    height:70%;
    width:90%;
}