@import '../mixins.scss';
@import '../colors.scss';

.topicDot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;

    background-color: $structabl-blue;

    margin-top: 1.1px;
    margin-left: -3.5px;
}
