@import '../mixins.scss';
@import '../colors.scss';


.topicList{ 
    height:100%;
    //overflow-y: scroll;
    width:100%;
    overflow-x:hidden;
}

.topicNode{
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:$structabl-blue;
    padding: 10px 15px;
    border-bottom: 1px solid $structabl-bg-blue;

    &#selectedTopicNode {
        background-color: $enkato-green;
        color: white;

        .name {
            color: white;
        }
    }

    &:hover {
        background-color:$grey-topic-button-section-bg-hover;
        cursor:pointer;
    }

    .time {
        display: inline-block;
        vertical-align: top;
        width: 20%;

    }

    .name {
        width: 80%;
        display: inline-block;
        vertical-align: top;
        font-weight: 500;
        overflow: hidden;
        padding-left: 2px;
    }
}

