@import '../mixins.scss';
@import '../colors.scss';


.topicList{ 
    height:100%;
    overflow-y: scroll;
    width:100%;
}

.topicNode{
    width:100%;
    background-color:$grey-topic-button;
    border-color: $grey-topic-button-section-bg;
    border-width:1px;
    border-style:solid;
    overflow: hidden;
    margin:2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:$grey-topic-button-text;
    @include respond-to(xsmall) {
        font-size:7vh;
        padding:1vh;
        height:15vh;
    }
    @include respond-to(small) {
        font-size:2.5vh;
        padding:2.5vh;
        height:9vh;
    }
    @include respond-to(medium) {
        font-size:2.5vh;
        padding:2.5vh;
        height:9vh;
    }
    @include respond-to(large) {
        font-size:2.5vh;
        padding:2.5vh;
        height:9vh;
    }
}

.topicNode:hover{
    background-color:$grey-topic-button-section-bg-hover;
    cursor:pointer;
}

#selectedTopicNode{
    font-weight: 800;
}


