@import '../mixins.scss';
@import '../colors.scss';

.videoTitle {
    font-size: 24px;
    font-weight: 700;
    color: $structabl-blue;
    padding-bottom: 15px;
}

.ynVideoPlayer{
    overflow: hidden;
    background-color:$white;
    box-shadow: 0px 1px 3px rgba(1, 17, 62, 0.2);
}

.topicButtonColumn{
    float: left;
    height:100%;
    width:25%;
}

.videoDiv {
    float: right;
    width: 75%;
    margin:0px;
    height:100%;

    &.full {
        width: 100%;
    }
}
