@import '../mixins.scss';
@import '../colors.scss';


.ynVideoPlayer{
    overflow: hidden;
    background-color:$white;
    border-top: 15px solid $structabl-blue;
}

.topicButtonColumn{
    float: left;
    height:100%;
    width:25%;
}
.videoDiv {
    float: right;
    width: 75%;
    margin:0px;
    height:100%;

    &.full {
        width: 100%;
    }
}
