@import '../mixins.scss';
@import '../colors.scss';

.addTopicButton {
    background-color: $enkato-green;
    text-align: center;
    color: white;
    font-size: 18px;
    height: 50px;
    padding: 12px;

    @include respond-to(medium) {
        font-size: 18px;
    }

    @include respond-to(small) {
        font-size: 14px;
    }

    &:hover {
        cursor: pointer;
        background-color: #0f4e3e;
    }
 }
