@import '../../globals/colors.scss';
@import '../../globals/VideoPlayer/ControlBar.scss';


.centerBarSpan{
    text-align:center;
    color: white;
    margin-left:32%;
    margin-right:32%;

    .backwardButton{
        text-align:left;
        margin-right:20px;
        font-size: 20px;
        margin-top: 10px;
    }
    .backwardButton:hover{
        cursor:pointer;
    }

    .vTime{
        text-align:center;
        margin-top: 10px;
        color: $grey-progress-bar-text;
        vertical-align: bottom;
    }   

    .forwardButton{
        text-align:right;
        margin-left:20px;
        font-size: 20px;
        margin-top: 10px;
    }

    .forwardButton:hover{
        cursor:pointer;
    }
}